body{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;  
}


.flex{
    display: flex;
   
}

.orangecolor{
    color: orange;
}

.half-width{
width: 40%;
float:left;
margin-left:5%;
padding-left:2%;

}


.half-width img{
    width: 100%;
    
}
.textarea{
    
}
h1{
    font-size: 50px;
}
h2{
 font-size: 45;
}
h4{
    font-size: 35;
}
.btn{
    text-decoration: none;
    background:linear-gradient(60deg,purple,salmon);
    border-radius: 5px;
    padding: 10px 40px;
    font-weight: 700;
    color: white;
    text-transform: capitalize;
}
.dreambig{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.half{
    width: 40%;
    margin-left:5%;
    padding-left:5%;
    box-shadow: 1px 1px 50px gray;
    padding-bottom: 150px;
    margin-bottom: 150px;
    
    

 
}
.baby{
    margin-right: 5%;
}
.Experiances{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
#small{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
    
}
#full{
    border-left: 7px solid;
    border-image: linear-gradient(purple,tomato);
    border-image-slice: 1;
    
}
footer{
    text-align: center;
}